@model ProductMVCProject.Data.Model.ProductFeature

@{
    ViewBag.Title = "Ürün Özelliği Silme";
}

	<h2>"Ürün Özelliği Silme</h2>

<h3>Bu ürün özelliğini silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>ProductFeature</h4>
    <hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Product.ProductName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Product.ProductName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.FeatureName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.FeatureName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.FeatureValue)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.FeatureValue)
			</dd>

		</dl>

    @using (Html.BeginForm()) { @*layout tan gelen kısım*@
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Sil" class="btn btn-danger"/> |
					@Html.Hidden("productId",Model.ProductId)
            @Html.ActionLink("Listeye Dön", "Index",new { id = Model.ProductId })
        </div>
    }
</div>
