@model ProductMVCProject.Data.Model.Category

@{
	ViewBag.Title = "Yeni Kategori Ekleme";

}

<h2>Yeni Kategori Oluşturma</h2>

@using (Html.BeginForm())
{

	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.CategoryName, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @clas = "form-control" } })
				@Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Kaydet" class="btn btn-default" />
			</div>
		</div>
	</div>

}
<div>
	@Html.ActionLink("Listeye Dön", "Index")
</div>
@section scripts{

	@Scripts.Render("~/bundles/jquerval")}

@*App_start/BundleCofig.cs dosyasıda aşğıdaki satıra referans ediyor;
	bundles.Add(new ScriptBundle("~/bundles/jqueryval").Include(
									"~/Scripts/jquery.validate*"));*@