@model ProductMVCProject.Data.Model.Product

@{
    ViewBag.Title = "Ürün Silme";
}

	<h2>Ürün Silme</h2>

<h3>Ürünü silmek istediğinizden emin misiniz?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Category.CategoryName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Category.CategoryName)
		</dd>

	</dl>

	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ProductName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProductName)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div>
			<input type="submit" value="Sil" class="btn btn-danger" /> |
			@Html.ActionLink("Listeye Dön", "Index")
		</div>
	}
</div>
